<!DOCTYPE html>
<meta name="author" content="Lakshmi Kala Pedarla">
<meta name="author" content="Archana Madhavan">
<html>
    <head></head>
    <body>
            <nav class="navbar navbar-dark bg-dark">
                    
                        <a class="navbar-brand" href="#">
                                ADMIN DASHBOARD
                        </a>
                    
                        <a href="/users/logout" class="navbar-brand pull-right">Log Out</a>
            </nav>
        <center>
            
            <a href="/users/register" style="font-size : 20px">Add User</a>
            <a value="Update User" href="/users/searchUser" style="font-size : 20px">Update User</a>
            <a value="Delete User" href="/users/searchUserToDelete" style="font-size : 20px">Delete User</a>
          
        </center>
    </body>
</html>