<!DOCTYPE html>
<meta name="author" content="Lakshmi Kala Pedarla">
<meta name="author" content="Archana Madhavan">
<html>
    <head></head>
    <body>
        <center>
            <h1>ADMIN DASHBOARD</h1><br><br><br>
            <a href="/users/register" style="font-size : 20px">Add User</a>
            <a value="Update User" href="/users/updateUser" style="font-size : 20px">update User</a>
            <input type="button" value="Delete User" style="font-size : 20px"/>

        </center>
    </body>
</html>