<!DOCTYPE html>
<meta name="author" content="Lakshmi Kala Pedarla">
<meta name="author" content="Archana Madhavan">
<html>
    <head></head>
    <body>
        <center>
            <h1>ADMIN DASHBOARD</h1><br><br><br>
            <input type="button" value="Add User" style="font-size : 20px"/>
            <input type="button" value="Update User" style="font-size : 20px"/>
        </center>
    </body>
</html>