<!-- Author: Lakshmi Kala Pedarla
  Version:1.0 -->

<html>
   <head>
      <title>Quiz</title>
   </head>
   <body>
      <div>
         <h1>
            <center>Create Quiz</center>
         </h1>
         <br/>
         <div id="quiz"></div><center>
         <form action="">
            Enter Title:<br>
            <input id="quiz-title" xplaceholder="enter a quiz Title" type="text" value placeholder="Give Title to the quiz"/>
            <br>
            Select Type of Quiz:<br>
            <select name="quizType">
               <option value="unlimited Time">unlimited Time</option>
               <option value="limited time">limited time</option>
               <option value="unlimited attempts">unlimited attempts</option>
               <option value="limited attempts">limited attempts</option>
            </select>
         </form>
     </center>
      </div>
   </body>
</html>
