<!-- Author: Lakshmi Kala Pedarla
  Version:1.0 -->

<html>

<head>
    <title>Quiz</title>
</head>
<script>
    var index = [];
    index.push(0);
    index.push(1);

    function addQuestion() {
        var id = getID();
        var div = document.createElement('div');
        div.setAttribute("id", "addQuestion_" + id);
        div.innerHTML = '<div><br/></div><input id = "question" placeholder="Enter your question here">'+'<div>Answer: <input id ="answer" type="text" name="answer" size="40"><br></div>' + '<div><input type="button" id="addQuestion_' + id + '" onclick="addQuestion()" value="Add Question"/>' + '<input type="button" id="remQuestion_' + id + '" onclick="remQuestion('+id+')" value="Remove Question" /></div>';
        document.getElementById('question1').appendChild(div);
    }

    function remQuestion(id) {
        var element = document.getElementById("addQuestion_"+id)
        element.parentNode.removeChild(element);
        index[id] = -1;
    }

    function getID() {
        var emptyIndex = index.indexOf(-1);
        if (emptyIndex != -1) {
            index[emptyIndex] = emptyIndex

            return emptyIndex
        } else {
            emptyIndex = index.length
            index.push(emptyIndex)
            return emptyIndex
        }
    }
</script>

<body>
    <div>
        <h1>
            <center>Create Homework</center>
         </h1>
        <br/>
        <div id="quiz"></div>
        <center>
            <form action="/users/createQuiz" method="POST">
                Enter Title:
                <input id="title" type="text" placeholder="Give title to the homework" />
                </br>

                Select targeted grade type for the quiz:
                <select name="gradeType" id = "gradeType">
                    <option value="Grade1">Grade 1</option>
                    <option value="Grade6">Grade 6</option>
                </select>
                </br>
                <br>
                <div id="question1">
                    <input id="question" placeholder="Enter your question here">
                    </br>

                    Answer: <input id = "answer" type="text" name="answer" size="40"><br>
                    <input type="submit" id="addQuestion_1" onclick="addQuestion()" value="Add Question" />
                </div>
            </form>
    </div>
</body>

</html>