<html>

<head>

</head>

<body>

        <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mySidebar" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <a class="navbar-brand" href="#"  style="display: block;">
                    MathBuzz
                </a>
            </nav>
    <div class="container-fluid">
        <div class="row" id="hwSections">
                <div class="collapse"  id="mySidebar">
                        <div class = "bg-dark p-4">
                            <ul class="list-unstyled components">
                                <li><p class="text-white h7"><a href="/users/workspace">Home</a></p></li>
                                <li><p class="text-white h7"><a href="/users/logout">Logout</a></p></li>
                            </ul>
                        </div>  
                    </div>
                 <div class="container">
                        <p><center><h1> A Guide to MathBuzz </h1></center></p><br><br><br>
                        <p> Students can do the following :
                            <ul class="list-group">
                              <li class="list-group-item"><b>Drag the Numbers and Operators</b> from the widget section to Worksapce section.</li>
                              <li class="list-group-item"><b>Double click the widget to delete</b> it from the workspace.</li>
                              <li class="list-group-item"><b>Clear</b> the workspace and history tab on clicking on the clear button on their respective sections.</li>
                              <li class="list-group-item">Access <b>homework</b> from the navigation bar on the left.</li>
                              <li class="list-group-item"><b>Logout</b> of the profile by clicking on logout present on the navigation bar on the left.</li>
                              <li class="list-group-item"><b>View the history</b> of the operations performed in the workspace on the history section.</li>
                            </ul>
                </div>
        </div>
    </div>
</body>

</html>