<html>

<head></head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            SER 515 - Team 18
        </a>
        <a href="/users/logout" class="navbar-brand pull-right">Log Out</a>
    </nav>
    <div class="container-fluid">
        <div class="row" id="hwSections">

            <div class="col-md-4 widgetSection">
                <div class="row navbar">
                    <div class="col">Widgets</div>
                </div>

                <div id=Operators>
                    <p>Operators</p>
                    <div class="row">

                        <div class="col-1">
                            <input type="button" id="hwaddition" value="+"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwhwsubtraction" value="-"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwmultiplication" value="*"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwdivision" value="/"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwequalto" value="="  > &nbsp;
                        </div>
                    </div>
                </div>

                <div id=Numbers>
                    <p>Numbers</p>
                    <div class="row">
                        <div class="col-1">
                            <input type="button" id="hwnumber1" value="1"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwnumber2" value="2"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwnumber3" value="3"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwnumber4" value="4"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwnumber5" value="5"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwnumber6" value="6"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwnumber7" value="7"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwnumber8" value="8"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwnumber9" value="9"  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwnumber0" value="0"  
                                draggable="true">
                        </div>
                    </div>
                </div>
                <br>
                <div id="grade6" style="display: none;">
                    <p>Paranthesis</p>
                    <div class="row">

                        <div class="col-1">
                            <input type="button" id="hwleft_Paranthesis" value="("  
                                draggable="true">
                        </div>
                        <div class="col-1">
                            <input type="button" id="hwright_paranthesis" value=")"  
                                draggable="true">
                        </div>
                    </div>
                </div>
                <br>


            </div>

            <div class="col-md-6 hwSection">
                <div class="row navbar">
                    <div class="col" align="center">Homework</div>
                </div>
                <p align="center" id="hwspace"> </p>
            </div>
            <div class="col-md-2 pointsSection">
                <div class="row navbar">
                    <div class="col">Score</div>
                </div>
                <div id="finalMarks">
                    <h4> <i id='score'>0</i>/5 </h4>

                </div>
            </div>
        </div>
</body>

</html>