<div class="sidenav">
  <div class="login-main-text">
     <h2>Welcome to Mathbuzz</h2>
     <p>Please log in to continue</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">

    <div class=" loginCard">
        <% include ./partials/messages %>
      <form class="form-signin" action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter your email address"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter your Password"
          />
        </div>
        <button type="submit" class="btn btn-dark btn-block  ">Login</button>
      </form>
    </div>
  </div>
</div>