<!-- 
    Author : Lakshmi Kala Pedarla
    Version : 1.0
 -->
 <html>
        <head>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        </head>
        <body>
           <nav class="navbar navbar-dark bg-dark">
           <h2 class="text-white h2">Homework1</h2>
           <a class="navbar-brand" href="/users/teacherViewHomeworks"  style=" text-align: center; display: block;">
           View Homeworks
           </a>
       </nav>
      <div class=" text-center" style="padding: 10%;">
             <div class="table-responsive-sm">
      <table class="table table-bordered table-striped">
       <thead class="thead-dark">
         <tr>
           <th scope="col">Question</th>
           <th scope="col">Answer</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td scope="row">Question1</td>
           <td scope="row">Answer1</td>
         </tr>
         <tr>
           <td scope="row">Question2</td>
           <td scope="row">Answer2</td>
         </tr>
         <tr>
           <td scope="row">Question3</td>
           <td scope="row">Answer3</td>
         </tr>
         </tbody>
     </div>
     </div>
     </body>
     </html>