<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <center>
            <h1>TEACHER DASHBOARD</h1><br><br><br>
            <input type="button" value="Add Quiz">
        </center>
    </body>
</html>