<!-- 
    Author : Lakshmi Kala Pedarla
    Version : 1.0
 -->
 <html>
        <head>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        </head>
        <body>
           <nav class="navbar navbar-dark bg-dark">
           <h2 class="text-white h2"><%= Title %></h2>
           <a class="navbar-brand" href="/users/viewHomeworksTeacher"  style=" text-align: center; display: block;">
           View Homeworks
           </a>
       </nav>
      <div class=" text-center" style="padding: 10%;">
             <div class="table-responsive-sm">
      <table class="table table-bordered table-striped">
       <thead class="thead-dark">
         <tr>
           <th scope="col">Question</th>
           <th scope="col">Answer</th>
         </tr>
       </thead>
       <tbody>
         <% Questions.forEach(function(question){ %>
          <tr>
              <td scope="row"><%= question.question %></td>
              <td scope="row"><%= question.answer %></td>
            </tr>
        <%  }); %>
         </tbody>
     </div>
     </div>
     </body>
     </html>